:root {
    --tobo-purple: #9c72e4;
    --tobo-blue: #47adf1;
    --tobo-green: #b0c926;
    --tobo-watergreen: #64c0a9;
    --tobo-red: #eb5953;
    --tobo-pink: #d863a1;
    --tobo-orange: #f29e33;
    --tobo-lightgray: #f6f8f9;
}

* {
    margin: 0;
    font-family: sans-serif;
}

.logo {
    padding: 1rem;
}

.logo_icon {
    vertical-align: middle;
}

.logo_text {

    vertical-align: middle;
    font-weight: bold;
    font-size: 2rem;
}




main {
    background-color: var(--tobo-lightgray);
    padding: 3rem;
}

.todo {
    background-color: white;
    width: 785px;
    /* height: 580px; */
    margin: auto;
    border-radius: .5rem;
}

.todo_buttons {
    border-bottom: .08rem solid rgb(219, 219, 219);
    padding: 1.5rem 4rem .5rem;
    /* background-color: #64c0a9; */
}

.todos {
    padding: 3rem 4rem;

}

button {
    padding: .5rem .5rem;
    text-align: center;
    text-decoration: none;
    border-radius: .3rem;
}

.add_task_btn {
    background-color: var(--tobo-blue);
    border: none;
    color: white;
}

.add_section_btn {
    background-color: white;
    border: .1rem solid lightgray;
    color: rgb(181, 181, 181);
}

section{
    margin-bottom: 3rem;
}

.task_section {
    margin-top: 1.5rem;
}

#check {
    color: var(--tobo-watergreen);
    border: .1rem solid var(--tobo-watergreen);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    text-align: center;
    line-height: 1.2rem;
    width: 1.2rem;
    display: inline-block;
    margin-right: .5rem;
}

#cross {
    color: var(--tobo-red);
    border: .1rem solid var(--tobo-red);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    text-align: center;
    line-height: 1.2rem;
    width: 1.2rem;
    display: inline-block;
    margin-right: .5rem;
}

.todo_title {
    font-size: 1.25rem;
    vertical-align: middle;
}

.category {
    margin-left: .2rem;
    vertical-align: middle;
    font-size: .8rem;
    color: white;
    padding: .5rem 1rem;
    border-radius: 1rem;
}

.editorial {
    background-color: var(--tobo-blue);
}

.goals {
    background-color: var(--tobo-purple);
}

.recruiting {
    background-color: var(--tobo-watergreen);
}

.mobile {
    background-color: var(--tobo-orange);
}

.website {
    background-color: var(--tobo-pink);
}

.sales{
    background-color: var(--tobo-green);
}